.c7n-PlanTree {
  height: 100%;
  .ant-spin-nested-loading,
  .ant-spin-container {
    height: 100%;
  }
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 233px;
  overflow: auto;
  &-treeTop {
    padding: 0 0 0 16px;
    font-size: 13px;
    height: 44px;
    display: flex;
    align-items: center;
    &-button {
      cursor: pointer;
      width: 28px;
      height: 22px;
      background-color: #3F51B5;
      color: white;
      text-align: center;
      line-height: 18px;
      margin: 0 7px;
      border-radius: 3px;
    }
  }
}
