.c7n-plan-tree-title {
  display: flex;
  align-items: center;
  &-text {
    width: 78px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-actionButton {
    height: 28px;
    margin-top: -2px;
    .c7n-add-folder {
      transition: none;
      // margin-left: 43px;
      padding-right: 7px;
      visibility: hidden;
    }
  }
}

.c7n-plan-tree-title:hover {
  .c7n-add-folder {
    visibility: visible;
  }
}
