.c7n-radio-button {
  .ant-radio-button-wrapper {
    padding: 0 9px;
    height: 26px;
    line-height: 26px;
    border: none !important;
    color:black;
    margin: 0 5px;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    border: none;
    width: 0;
    display: none;
  }
  .ant-radio-button-wrapper-checked {
    color:black;
    background: rgba($color: #000000, $alpha: 0.04);
    box-shadow: none;
    border-radius: 2px;
  }
}
