.c7n-dragtable {
    position: relative;
    padding-bottom: 36px;
    .ant-table {
        display: none;
    }
    .ant-table-wrapper {
        position: static;
        .ant-spin-container {
            position: static;
        }
        .ant-spin-nested-loading {
            position: static;
        }
        .ant-pagination {
            position: absolute;
            bottom: -36px;
            right: 0;
        }
    }
    table {
        table-layout: fixed;
        width: 100%;
        thead {
            tr {
                height: 30px;
                background: rgba(0, 0, 0, 0.04);
                border-top: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                th {
                    font-weight: normal;
                    // width: 50px;
                    // flex: 1;
                    line-height: 20px;
                    padding-left: 20px;
                }
            }
        }
        tbody {
            tr {
                height: 34px;
                border-bottom: 1px solid #e8e8e8;
                border-top: 1px solid #e8e8e8;
                td {
                    // width: 50px;
                    // flex: 1;
                    line-height: 20px;
                    padding-left: 20px;
                    table-layout: fixed;
                }
            }
        }
    }
}