.c7n-SearchTree {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  height: 100%;
  width: 250px;  
  .ant-input-wrapper {
    .ant-input-underline {
      display: none;
    }
    .ant-input-content{
      margin-bottom: 0;
    }
  }
  .c7n-treeTop {
    padding: 0 16px;
    font-size: 13px;
    height: 44px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .ant-tree-icon__customize {
    i.icon {
        float: left;
        line-height: 22px;
        margin-right: 5px;
    }
  }  
  .ant-tree-title {
    display: inline-block;
    float: right;
  }
}
