.c7ntest-EventItem {
  border-radius: 2px;
  height: 34px;
  line-height: 30px;
  color: white;
  margin-top: 5px;
  &:first-of-type {
    margin-top: 0px;
  }
  &-event {
    cursor: pointer;
    background: #5094FF;
    overflow: hidden;
    &-title {
      position: relative;
      padding-left: 10px;
      &-resizer-left,
      &-resizer-right {
        top: 0;
        height: 100%;
        width: 8px;
       
        position: absolute;
      }
      &-resizer-left {
        cursor: e-resize;
        left: -4px;
      }
      &-resizer-right {
        cursor: w-resize;
        right: -4px;
      }
    }
  }
}
