.c7ntest-EventItem {
  border-radius: 2px;
  height: 34px;
  line-height: 30px;
  color: white;
  margin-top: 5px;
  &:first-of-type {
    margin-top: 0px;
  }
  &-event {
    cursor: pointer;
    background: #5094FF;
    position: relative;
    // overflow: hidden;
    width: 100%;
    &-resizer-left,
    &-resizer-right {
      top: 0;
      height: 100%;
      width: 20px;
      position: absolute;
      z-index: 2;
    }
    &-resizer-left {
      cursor: e-resize;
      left: 0;
      margin-left: -10px;
    }
    &-resizer-right {
      cursor: w-resize;
      right: -10px;
    }
    &-title {
      position: absolute;
      width: 100%;
      padding: 0 10px;
    }
  }
}
