.c7ntest-CreateIssueTiny {
    .ant-input-length-info {
        display: none;
    }
    .ant-input-underline {
        display: none;
    }
    .c7ntest-sign {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        // margin-right: 11px;
        text-align: center;
        color: #fff;
        line-height: 21px;
        font-size: 14px;
        line-height: 16px;
    }
}