.c7n-cycle {

}

.c7n-cycleHome {

}

.c7n-chs-bar {
  width: 22.5px;
  border-right: 1px solid #d3d3d3;
  p {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.08);
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
  }
}

.c7n-ch-side {
  display: inline-block;
  width: 22.5px;
}

.c7n-ch-left {
  margin-left: 10px;
  width: 450px;
  display: inline-block;
  border-right: 1px black;
  border-right-style: solid;
  padding-bottom: 100px;
}

.c7n-chl-head {

}

.c7n-chlh-search {
  width: 70%;
  display: inline-block;
}

.c7n-chlh-button {
  width: 25%;
  margin-left: 10px;
  display: inline-block;
  text-align: center;

}

.c7n-chlhb-left {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.c7n-chlhb-right {
  width: 50%;
  display: inline-block;
  text-align: center;
  //border-left: black;
}

.c7n-ch-right {
  display: inline-block;
}

.c7n-cycleHome-button {
  background-color: #3F51B5;
  color: white;
  .icon {
    margin-right: 0;
  }
}

.ant-tree-icon__customize {
  i.icon {
    float: left;
    line-height: 22px;
    margin-right: 5px;
  }
}

.c7n-ch-hidden {
  display: none
}

.ant-tree-title {
  display: inline-block;
  float:right;
  width: 250px;
}