.StepTable {
    .ant-select-selection__choice {
        display: flex;
        overflow: visible;
    }
    .ant-select-selection__choice__content {
        width: 70px;
    }
}

.c7n-cycle {
    .ant-select-dropdown--multiple {
        left: calc(100% - 400px)!important;
    }
}