.c7ntest-issue-tree-title {
  display: flex;
  align-items: center;
  min-width: 132px;
  &-text {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-actionButton {
    height: 28px;
    margin-top: -2px;
    .c7ntest-add-folder {
      transition: none;
      margin:0 4px;
      visibility: hidden;
    }
  }

}

.c7ntest-issue-tree-title:hover {
  .c7ntest-add-folder {
    visibility: visible;
  }
}
.IssueTree-drag-prompt{
  position: absolute;
  margin-top: 3px;
  top: 0;
  left: 100%;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.12);
  padding: 10px;
}
